.app {
  height: inherit;
  .container {
    margin-top: 20px;
    max-width: 800px;
    background-color: ghostwhite;
    height: inherit;
    .form-container {
      display: flex;
      flex-direction: column;
      .submit-btn {
        align-self: center;
        padding: 10px 32px;
      }
    }
  }
}

